.header, .hero, .body, .bar, .footer{
    background-color: rgb(12, 111, 78);
    margin: 10px 0;
}
.box {

    margin: 10px 0;
    min-height:80px ;
    background-color: red;
    font-size: 18px;
    color: white;
}

.red , .five{
    background-color: lime;
}